<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Not just Sustainable...</h2>
                <hr class="light">
                <p class="text-faded"> We work with property owners and communities in Los Angeles and Conneticut - not just on food sustainability, but on <strong>food self-sufficiency</strong>. Our clients  cost-saving, health.  on food sustainability and self-sufficiency <br>with property-owners and communities <br>in Los Angeles and Conneticut.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>

