<aside>
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Grow Vegetables. In a Box. At Home.</h2>
            <p>Your goals, schedule, budget and space are different from other home growers'. How much space do you have for GrowBoxOne? How important is it you reach 100% self-sufficiency, how quickly and for which vegetables?</p>
            <p> </p>
            <a href="#contact" class="btn btn-default btn-xl wow tada">Give Us a Call to Get Started</a>
        </div>
    </div>
</aside>

