<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
        </div>
        <div class="row">
            <div class="col-md-6" align="right">
                <h2>What You Get</h2>
                <p>
                    Personal consultation: we start every project with an assessment of your space, your time, your goals.
                </p>
                <p>
                    A box built custom for your space and needs.
                </p>
                <p>
                    All materials you'll need to grow vegetables within your Grow Box (including but not limited to: seeds and stems, soil replacement, nutrients, automated artificial light and plumbing).
                </p>
                <p>
                    As much training and hands-on help as you want: we offer flexible options for training and upkeep after your box is installed.
                </p>
            </div>
            <div class="col-md-6">
                <h2 align="left">Grow Box Process</h2>
                <p>
                    Personal consultation: we start every project with an assessment of your space, your time, your goals.
                </p>
                <p>
                    A box built custom for your space and needs.
                </p>
                <p>
                    All materials you'll need to grow vegetables within your Grow Box (including but not limited to: seeds and stems, soil replacement, nutrients, automated artificial light and plumbing).
                </p>
                <p>
                    As much training and hands-on help as you want: we offer flexible options for training and upkeep after your box is installed.
                </p>
            </div>
        </div>
    </div>
</section>

