<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Grow Vegetables.</h1>
            <hr>
            <p>In a box. In your home.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Start Growing Today</a>
        </div>
    </div>
</header>

