
<div class="imgbackground">
    <div class="container">
        <div class="row" style="margin:66px 0px; padding:66px 0px;">
            <h2>What You Get</h2>
            <hr>
            <p align="left"><strong>Personal consultation</strong><br>We start every project with an assessment of your space, your time, your goals.</p>
			<p align="left">A box built custom for your space and needs</p>
			<p align="left">Materials you'll need to grow vegetables within your Grow Box One (including but not limited to: seeds and stems, soil replacement, nutrients, automated artificial light and plumbing, ...)</p>
			<p align="left">As much training and hands-on help as you want: we offer flexible options for training and upkeep after your box is installed.</p>
            
            <a href="#contact" class="btn btn-default btn-xl wow tada">Give Us a Call to Get Started</a>
        </div>
    </div>
</div>
