<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img class="img-responsive" src="/img/broccoli-little.png" alt="" style="float:auto; max-width:300px; padding-bottom:44px;">
            </div>
            <div class="col-sm-6">
                <h2 class="section-heading">What is Grow Box One?</h2>
                <hr class="light">
                <p class="text-faded">We build custom indoor agriculture systems and teach you how to use them. Grow spinach, kale, onions, garlic, peppers, broccoli and more in your kitchen, bedroom, closets, living or dining areas. Zero daily maintenance, minimal weekly upkeep. It's cheap and easy to get started.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>

