<section class="bg-primary" id="what-we-do">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h2 class="section-heading">We build custom indoor agriculture systems and teach you how to use them.</h2>
                <hr class="light">
                <p>Grow Boxe One is a made-to-order grow box designed to harvest vegetables indoors. Each box is built custom for your space in Los Angeles or Conneticut.</p> 

                <p align="center">Growing food in Grow box One is easy.</p>
                <div width="100%" align="center">
                    <a href="#" class="btn btn-default btn-xl">Learn How</a>
                </div>
            </div>

        </div>
    </div>
</section>

